# Database connection URL for Prisma and PostgreSQL.
# In local development: use local postgres instance.
# In production (Vercel): use connection pooling transaction URL from Supabase, Neon, AWS RDS, etc.
DATABASE_URL="postgresql://username:password@hostname:port/database_name?schema=public"

# NextAuth secret key used to encrypt the JWT tokens.
# Generate a secure random value using `openssl rand -base64 33`
AUTH_SECRET="your-next-auth-secret-key-minimum-32-characters"
